<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 class="ion-text-center ion-padding-top">Únete a tu comunidad</h2>
  <p class="ion-text-center ion-margin-bottom" style="color: gray; font-size: 0.9em;">Pídele el código de acceso a la administración de tu edificio</p>
  <ion-item>
    <ion-input label="Nombre y apellido" labelPlacement="floating" type="text" [(ngModel)]="nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Número de departamento" labelPlacement="floating" type="text" [(ngModel)]="depto"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Correo electrónico" labelPlacement="floating" type="email" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Contraseña" labelPlacement="floating" type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-item class="ion-margin-top" color="light">
    <ion-input label="Código del edificio" labelPlacement="floating" type="text" [(ngModel)]="codigo"></ion-input>
  </ion-item>

  @if (error()) {
    <ion-text color="danger">
      <p class="ion-padding-start">{{ error() }}</p>
    </ion-text>
  }

  @if (confirmacion()) {
    <div class="confirmacion">
      <h3>📬 Revisa tu correo</h3>
      <p>{{ confirmacion() }}</p>
      <ion-button expand="block" routerLink="/login">Ir a iniciar sesión</ion-button>
    </div>
  } @else {
    <ion-button expand="block" class="ion-margin-top" (click)="crearCuenta()" [disabled]="cargando()">
      {{ cargando() ? 'Creando cuenta...' : 'Registrarme' }}
    </ion-button>
  }
</ion-content>
