<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 class="ion-text-center ion-padding-top">TePresto</h2>

  <ion-item>
    <ion-input label="Correo" labelPlacement="floating" type="email" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Contraseña" labelPlacement="floating" type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  @if (error) {
    <ion-text color="danger">
      <p class="ion-padding-start">{{ error }}</p>
    </ion-text>
  }

  <ion-button expand="block" class="ion-margin-top" (click)="ingresar()">
    Ingresar
  </ion-button>

  <ion-text color="medium">
    <p class="ion-text-center">Prueba: carlos&#64;correo.com / 1234</p>
  </ion-text>
</ion-content>