<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="buscar" href="/buscar">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chats" href="/chats">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label>Chats</ion-label>
      @if (noLeidos() > 0) {
        <ion-badge color="danger">{{ noLeidos() }}</ion-badge>
      }
    </ion-tab-button>

    <ion-tab-button tab="perfil" href="/perfil">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
      @if (porResponder() > 0) {
        <ion-badge color="danger">{{ porResponder() }}</ion-badge>
      }
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
