<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/detalle/' + id"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (form(); as f) {
    <app-form-producto [datos]="f" [(foto)]="foto"></app-form-producto>

    @if (error()) {
      <ion-text color="danger">
        <p>{{ error() }}</p>
      </ion-text>
    }

    <ion-button expand="block" (click)="guardar()" class="ion-margin-top" [disabled]="guardando()">
      {{ guardando() ? 'Guardando...' : 'Guardar cambios' }}
    </ion-button>
  }
</ion-content>
