<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-form-producto [datos]="nuevoItem" [(foto)]="foto"></app-form-producto>

  @if (error()) {
    <ion-text color="danger">
      <p>{{ error() }}</p>
    </ion-text>
  }

  <ion-button expand="block" (click)="guardar()" class="ion-margin-top" [disabled]="guardando()">
    {{ guardando() ? 'Publicando...' : 'Guardar item' }}
  </ion-button>
</ion-content>
