<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-input
    fill="solid" label="Foto (url)" labelPlacement="stacked" placeholder="https://ejemplo.com/foto.jpg" [(ngModel)]="nuevoItem.foto" class="ion-margin-bottom">
  </ion-input>

  <ion-input
    fill="solid" label="Nombre del producto" labelPlacement="stacked" placeholder="Ej: Destornillador" [(ngModel)]="nuevoItem.nombre" class="ion-margin-bottom">
  </ion-input>

  <ion-input
    fill="solid" label="Tipo" labelPlacement="stacked" placeholder="Ej: Herramienta/Cocina/Otro" [(ngModel)]="nuevoItem.tipo" class="ion-margin-bottom">
  </ion-input>

  <ion-input
    fill="solid" label="Precio" labelPlacement="stacked" placeholder="Mínimo $1000" [(ngModel)]="nuevoItem.precio" class="ion-margin-bottom">
  </ion-input>

  <ion-input
    fill="solid" label="Departamento" labelPlacement="stacked" placeholder="Ej: 406" [(ngModel)]="nuevoItem.depto" class="ion-margin-bottom">
  </ion-input>

  <ion-input
    fill="solid" label="Dueño" labelPlacement="stacked" placeholder="Tú nombre" [(ngModel)]="nuevoItem.dueno" class="ion-margin-bottom">
  </ion-input>

  <ion-textarea
    fill="solid" label="Descripción" labelPlacement="stacked" placeholder="Ej: Buen estado..." [(ngModel)]="nuevoItem.descripcion" class="ion-margin-bottom" autoGrow="true">
  </ion-textarea>

  <ion-button expand="block" (click)="guardar()" class="ion-margin-top">Guardar item</ion-button>
</ion-content>
